@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url("../assets/fonts/Gilroy-Light.otf") format("opentype");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    src: url("../assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("../assets/fonts/Gilroy-Regular.ttf");
}