@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("./style/fonts.scss");

:root {
    font-family: Suisse Intl, Gilroy, Inter, system-ui, Avenir, Helvetica, Arial,
        sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: theme('colors.black');
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.rangePickerError {
    border: 1px solid red;
}

button {
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.6em 1.2em;
    border: none;
    transition: outline .05s, background-color 0.25s;
    outline: 0px solid #0E6BCD;

    &[btn-type=primary]:hover {
        background-color: #2E91FB;
    }
    &[btn-type=primary]:focus, &[btn-type=primary]:active {
        outline: 4px solid #0E6BCD;
    }

    &[btn-type=secondary]:hover {
        background-color: #ddd;
    }
}

.ui-section {
    box-shadow: 0px 0px 1.3638190031051636px 0px rgba(15, 34, 67, 0.08), 0px 10.910552024841309px 87.28441619873047px 0px rgba(15, 34, 67, 0.05)
}

.tr {
    
    &:first-child {
        border-top: 2px solid #e2edf8;
    }
    &:nth-child(even) {
        @apply bg-[#f4f8ff]
    }

    @apply font-normal;
}

.td {
    border-bottom: 2px solid #e2edf8;
    @apply py-3 pl-1;
}

.ant-picker-focused {
    border: none !important;
    box-shadow: none !important;
}

@media (max-width: 480px) {
    .ant-picker-presets ul {
        display: flex;
        flex-direction: column-reverse;

        li + li {
            margin: 0 !important;
        }
    }
    .ant-picker-dropdown {
        width: 320px;
    }
    .ant-picker-dropdown-part {
        width: 100%;
    }
    .ant-picker-header-view {
        flex: unset !important;
    }
    .ant-picker-header-next-btn {
        visibility: visible !important;
    }
    .ant-picker-header-super-next-btn {
        visibility: visible !important;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    @apply bg-white-accent;

    overflow-x: hidden;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

// button {
//     border-radius: 8px;
//     border: 1px solid transparent;
//     padding: 0.6em 1.2em;
//     font-size: 1em;
//     font-weight: 500;
//     font-family: inherit;
//     background-color: #1a1a1a;
//     cursor: pointer;
//     transition: border-color 0.25s;
// }
// button:hover {
//     border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//     outline: 4px auto -webkit-focus-ring-color;
// }
